{% extends 'layout.html' %}
<!--Categories page to view add edit categories -->
{% block main %}
<div class="container mt-4">
    <h2>Categories</h2>
    <!-- Form to add new category -->
    <form method="POST" action="/categories/new" class="d-flex gap-2 align-items-center">
            <button type="submit" class="btn btn-primary">Add Category</button>
            <input type="text" class="form-control" id="categoryName" placeholder="New Category Name" name="category_name" required>
            <select class="form-control" id="parentCategory" name="parent_id">
                <option value="">-- None --</option>
                {% for category in categories_list %}
                <option value="{{ category['id'] }}">{{ category['name'] }}</option>
                {% endfor %}
            </select>
    </form>
    <!-- Table with all categories-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
            </tr>
        </thead>
        <tbody>

            <!-- TODO this works but the buttons move to another spot on the screen when a delete button is pressed-->
            <!-- This whole UI is wonky I wouldn't mind starting from the beginning. We are going a long way to-->
            <!-- confirm delete.-->
            <!-- in order to allow for a confirm delete where the columns don't change positions-->
            <!-- we are building different tables based on whether we are in confirm mode or not-->
            {% for category in categories_list %}
                <tr>
                    <td>{{ category['name'] }}</td>
                    <td>{{ category['parent_name'] if category['parent_name'] else 'None' }}</td>
                    <td>
                        <a href="/categories/{{ category['id'] }}/edit" class="btn btn-sm btn-secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}