{% extends 'layout.html' %}

<!-- Household Creation Form   -->
{% block title %}Create Household{% endblock %}

{% block main %}
    <h1 class="mb-4">Create New Household</h1>
    <form method="POST" action="/household/new">
        <div class="mb-3">
            <label for="creation_code" class="form-label">Creation Code</label>
            <input type="password" class="form-control" id="creation_code" name="creation_code" required>
        </div>
        <div class="mb-3">
            <label for="household_name" class="form-label">Household Name</label>
            <input type="text" class="form-control" id="household_name" name="household_name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Household</button>
    </form>
{% endblock %}