{% extends 'layout.html' %}
<!-- Login Form   -->
 <!-- provide input for houshold, username and password. Include a selection for households in the databas-->
{% block main %}
<div class="container mt-4">
    <h2>login</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="household" class="form-label">Household</label>
            <select class="form-select" id="household" name="household_id" required>
                {% for household in households %}
                    <option value="{{ household.id }}">{{ household.name }}</option>
                {% endfor %}
            </select>
        </div>
            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}